.strike {
  text-decoration: line-through;
}

.todo-card {
  border: 2px solid black;
  border-bottom-right-radius: 20px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.button {
  width: 100%;
  margin-top: 10px;
  border: 2px solid black;
  background-color: #dc3545;
  font-weight: light;
  position: relative;
  float: left;
  color: #fff;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 5px;
  box-shadow: 2px 4px 0 #000;
  transition: padding 0.1s, box-shadow 0.1s, top 0.1s;
}

.button:active {
  top: 4px;
  padding-bottom: 0px;
  box-shadow: 0 1px 0 #000;
}
