<div class="mb-5 add-to-do">
  <h4>Add a todoo</h4>
  <form
    #submitted="ngForm"
    class="row g-2"
    (ngSubmit)="onSubmit(submitted)"
    name="todoForm"
  >
    <div class="row g-2">
      <div class="col">
        <label class="form-label">Title</label>
        <input
          required
          placeholder="max. 30 characters"
          type="text"
          [(ngModel)]="title"
          class="form-control form-control-sm"
          id="title"
          name="title"
          maxlength="30"
        />
      </div>
    </div>
    <div class="row g-2">
      <div class="col">
        <label class="form-label">Description</label>
        <input
          required
          placeholder="max. 150 characters"
          type="text"
          [(ngModel)]="desc"
          class="form-control form-control-sm"
          id="desc"
          name="desc"
          maxlength="150"
        />
      </div>
    </div>

    <div class="row g-2">
      <div class="col d-flex flex-row justify-content-center">
        <input type="submit" class="button" value="ADD TODOO" />
      </div>
    </div>
  </form>
</div>
